@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Oswald:wght@200..700&display=swap');

%slowly {
    transition-duration: 100ms;
    transition-timing-function: linear;
}

.ramka {
    width: 119px;
    height: 119px;;
    position: fixed;
    top: 353px;
    left: -60px;
    border-radius: 86px;
    border: 10px solid white;
    z-index: 2;
    cursor: pointer;
    @extend %slowly;
}

.ramkaX {
    width: 90px;
    height: 90px;
    position: fixed;
    top: 362px;
    left: -50px;
    border: none;
    border-radius: 86px;
    z-index: 2;
    cursor: pointer;
    @extend %slowly;
}

.icon {
    width: 120px;
    height: 120px;
    background: red;
    position: fixed;
    z-index: 1;
    top: 362px;
    left: -50px;
    border-radius: 86px;
    @extend %slowly;
    & p {
        margin: 0;
        width: 53px;
        position: relative;
        left: 55px;
        top: 29px;
        font-size: 21px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: white;
        &.efecttext {
            animation: textsize 1s ease infinite alternate-reverse 0s;
        }
    }
}

.iconX {
    width: 90px;
    height: 90px;
    background: red;
    position: fixed;
    z-index: 1;
    top: 362px;
    left: -50px;
    border-radius: 86px;
    @extend %slowly;
    & div {
        width: 90px;
        height: 90px;
        border-radius: 80px;
        @extend %slowly;
        & div:nth-child(1) {
            width: 35px;
            height: 5px;
            background: white;
            position: relative;
            left: 49px;
            top: 41px;
            transform: rotate(45deg);
            border-radius: 5px;
            @extend %slowly;
        }
        & div:nth-child(2) {
            width: 35px;
            height: 5px;
            background: white;
            position: relative;
            left: 49px;
            top: 37px;
            transform: rotate(-45deg);
            border-radius: 5px;
            @extend %slowly;
        }
    }
}

.efect {
    border-top-color: rgb(254, 107, 107);
    border-bottom-color: #ffaaaa;
    animation: border 2s linear infinite normal 0s;
}

.knopka_X {
    margin: 0;
    width: 53px;
    position: relative;
    left: 55px;
    top: 29px;
    font-size: 21px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.media {
    position: fixed;
    background: white;
    left: 0px;
    top: 390px;
    border-radius: 34px;
    border: 7px solid white;
    width: 1px;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

.instagram {
    top: 281px;
    left: 54px;
    width: 25px;
    cursor: pointer;
    @extend %slowly;
    &:hover {
        width: 36px;
    }
}

.threads {
    top: 329px;
    left: 110px;
    width: 25px;
    cursor: pointer;
    &:hover {
        width: 36px;
    }
}

.telegram {
    left: 68px;
    left: 167px;
    width: 25px;
    cursor: pointer;
    &:hover {
        width: 36px;
    }
}

.tiktok {
    top: 438px;
    left: 110px;
    width: 25px;
    cursor: pointer;
    &:hover {
        width: 36px;
    }
}

.youtube {
    width: 25px;
    top: 496px;
    left: 54px;
    height: 25;
    cursor: pointer;
    &:hover {
        width: 36px;
        height: 36px;
    }
}

@keyframes border {
    0% {
        transform: rotate(0deg);
        
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes textsize {
    0% {
        font-size: 17px;
    }
    100% {
        font-size: 21px;
    }
}
